@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');


html, body{
	font-family: KoHo, sans-serif;
	font-weight: 400;
	margin: 0;
}



.container{
	display: flex;
	flex-direction: column;
	height: 100%;
}

header{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 700px;
	background-image: url(../img/The-new-BMW-M8-Competition-Models-UK-47.jpg);
	background-position: center;
	background-color: rgba(0,0,0,.1);
}


nav{
	position: relative;
	display: flex;
	justify-content: center;

}

.lupa{
	width: 35px;
}

.menu{
	display: flex;
	justify-content: center;
}

.menu a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 15px;
	transition: 0.2s;
}

.menu a:hover{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding: 10px 15px;
	color: #0a38ad;
}

.menu__list{
	list-style-type: none;
}

.line{
	width: 100%;
	height: 2px;
	margin-top: 2px;
	background-color: #fff;
	transition: 0.5s;
}

.menu a:hover~.line{
	background-color: #0a38ad;
}


.preview{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 600px;
	height: 500px;
	font-size: 50px;
	color: white;
	margin-left: 20px;
}

.preview button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 150px;
	border:2px solid white;
	background-color: rgba(0,0,0,0);
	font-size: 20px;
	text-align: center;
	color: white;
	line-height: 50px;
}

.preview button:hover{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 150px;
	border:2px solid white;
	background-color: rgba(255,255,255,1);
	font-size: 20px;
	text-align: center;
	color: rgba(0,0,0,0.6);
	line-height: 50px;
}

.actual__news{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 700px;
	background-color: white;
}

.actual__new {
	display: flex;
}

.actual__new img:hover{
	opacity: 0.2;
}

.actual__new img{
	transition: 1s;
	width: 750px;
	height: 100%;
	
}

.ANP{
	position: absolute;
	margin-top: 400px;
	padding-left: 20px;
	width: 300px;
	height: 100px;
}

.ctt{
	font-size: 40px;
}

.name__ctt{
	font-size: 30px;

}

.RM{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 150px;
	border:2px solid #363532;
	background-color: rgba(0,0,0,0);
	font-size: 20px;
	text-align: center;
	color: #363532;
	line-height: 50px;
	transition: 0.5s;

}


.RM:hover{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 150px;
	border:2px solid white;
	background-color: rgba(255,255,255,1);
	font-size: 20px;
	text-align: center;
	color: rgba(0,0,0,0.8);
	line-height: 50px;
}

.podcast{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 5px;
	width: 100%;
	height: 500px;
	background-color: #262626;
	color: white;
}

.podcast__info{
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	margin: 0 100px 0 20px;
	width: 300px;
	height: 500px;
}

.info__head{
	margin: 0;
	padding: 0;
	font-size: 30px;
	width: 200px;
}

.info__text{
	margin: 20 0;
	line-height: 22px;
}

.LN{
	text-align: center;
	border:2px solid white;
	padding:15px 5px;
	text-decoration: none;
	color: white;
	width: 150px;
	transition: 0.5s;
}

.LN:hover{
	text-decoration: none;
	color: #262626;
	background-color: #fff;
}


.highlights{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;

}

.white{
	position: absolute;
	width: 300px;
	height: 400px;
	background-color: #fff;
	opacity: 0;
	transition: 1s;
}

.story{
	display: flex;
	height: 400px;
	width: 300px;


}

.story__text{
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 290px;
	position: absolute;
	color:black;
	margin-top: 320px;
	margin-left: 5px;
}

.story__text h4{
	margin: 0 0 10px 0;
	color: #262626;
	padding: 0;
}

.story__text p{
	margin: 0;
	padding: 0;
	font-weight: 500;

	color: #262626;
}

.story__text .bl{
	color: #fff;
}


.story video{
	transition: 1s;

}

.white:hover{
	opacity: 0.4
}

.story video:hover{
	opacity: 0.4;
}

.find__bmw{
	display: flex;
	width: 100%;
	height: 200px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.find__bmw p{
	margin: 20px;
}

.find__bmw a:hover{
	font-weight: bold;
}

.find__bmw a{
	text-decoration: none;
	color: black;
}

#one{
	font-size: 30px;

}

#two{
	font-size: 50px;
}

.find__url{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pt{
	margin: 0;
}

.find__url p{
	font-size: 20px;
	margin: 0;
}

.fc{
	display: flex;
	justify-content: space-around;
	width: auto;
	height: auto;
	background-color: #262626;
	padding: 50px;
}

.fm{
	list-style: none;
}

.fl{
	margin-bottom: 20px;
}

.sl{
	margin-bottom: 10px;

}

.fm a{
	text-decoration: none;
}

.fl a{
	color: #fff;
}

.sl a{
	color: #5e5e5e;
	transition: 0.2s;
}

.sl a:hover{
	color: #fff;
}

.by{
	display: flex;
	justify-content: space-between;
	width: auto;
	height: auto;
	background-color: #262626;
	padding: 0 100px 0 100px;
}

.by p{
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 860px){

	.actual__news{
		display: block;
	}

	nav{
		display: flex;	
		justify-content: flex-start;
	}

	.menu{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

	}
	.lupa{
		display: none;
	}

	.logo__nav{
		display: none;
	}


	.podcast{
		display: block;
		height: 100%;
		padding-bottom: 50px;
	}

	.highlights{
		display: flex;
		flex-direction: column;
		background-color: #262626;
	}

	.highlights video{
		width: 100%;
	}

	.story{
	}

	.story img{
		width: 100%;
	}

	.actual__news {
		display: block;
		height: 100%;
	}

	.actual__new img{
		transition: 1s;
		width: 100%;
		height: 100%;
	
	}

	.previev{
		height: 100%;'
		width: 100%;
	}
}

